<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit here</title>
</head>
<body>
    <h3>Your id : <%= post.id %></h3>
    <p>
        Your username : @<%= post.username %> <br>
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
            <textarea name="content" row="10"><%= post.content %></textarea>
            <button>Submit</button>
        </form>
    </p>
</body>
</html>