<!DOCTYPE html>
<html lang="en">
<head>
    <title>Show</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This is details of your posts : </h1>
    <h2>The post id : <%= post.id %></h2>
    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
    </div>
</body>
</html>